 /*.container{
    height:100vh;
    display:grid;

    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);

    grid-gap:30px;

    justify-content: center;
    column-gap:0.1rem;

}

.box{
    border:5px solid black;
    background-color: white;
    width:80%;
    height:100%;
    margin:auto;
}

#SubTitle{
   color: blue;
   font-weight: 1000;
   font-size: larger;
}

#SubTitle2{
    color:green;
    font-weight: 1000;
    font-size: larger;
}

.leftbox{
    margin-left:30px;
}

.rightbox{
    margin-left:30px;
}

h2{
  text-align: center;
}
/*
.horizontal-line {
    display: flex;
    align-items: center;
  }
  
  .horizontal-line hr {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    border: none;
    margin: 0 10px;
  }
  
  .horizontal-line p {
    margin: 0;
  }
  
  .horizontal-line h2 {
    margin: 0;
    text-align: center;
  }
  */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

.box {
    border: 2px solid #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.SubTitle {
    color: blue;
    font-weight: bold;
    font-size: 1.2rem;
}

.SubTitle1 {
  color:green;
  font-weight: bold;
  font-size: 1.2rem;
}


h2 {
    text-align: center;
    margin-top: 10px;
}

.date {
    color: #999;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.read-more:hover {
    background-color: #0056b3;
}
